* {
    padding: 0;
    margin: 0;
    border: 0;
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  color: seashell;
  background-color: black;
}

body {
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.quote-container {
  font-size: 1.3em;
  position: absolute;
  top: 480px;
  z-index: 2;
}

/*
.quote-container .buddha {
  float: left;
  height: 50px;
  width: auto;
}

.quote-container .quote {
  float: right;
}
*/

.container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.big {
   flex: 1 1 500px;
}

.small {
  flex: 1 1 330px;
}


@media all and (min-width: 480px) {
  .big {
    flex: 1 1 275px;
 }
 
 .small {
   flex: 1 1 180px;
 }
}

@media all and (min-width: 1024px) {
  .big {
    flex: 1 1 150px;
 }
 
 .small {
   flex: 1 1 100px;
 }
}